.btn-group > button {
    padding: 0.3em 0.75em;
}

.btn-group-header > h2 {
    font-weight: bolder;
    padding-top: 1lh;
    padding-bottom: 1lh;
    margin-bottom: 0;
    padding-inline-start: 1em;
}

.dark .btn-group-header > h2 {
    color: rgb(var(--theme-font-color-dark));
}

.dark .entry-group {
    background-color: rgb(var(--color-surface-800));
}
