.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vscode
.idea
dist
/.vercel/

# Prisma for debugging; need to migrate some Prisma function to Seaweed
./prisma

